/*

--------------------------------
Colors
--------------------------------

dark gray       :  #5b5b5b
medium dark gray:  #949494
medium gray     :  #d5d5d5
light gray      :  #e5e5e5
blue            :  #2877ae
white           :  #f3f3f3

--------------------------------
Sections
--------------------------------

1. Global
2. Header
3. Content
4. Side Bar
5. Main Content
6. Footer

 */
/*--------------------------------------
1. Global
--------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  background-color: #5b5b5b;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

h3 {
  color: #949494;
}

#container {
  margin: 0 auto;
  width: 920px;
  height: 100%;
  background: url('../images/background.png') no-repeat center -30px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
  display: block;
  border: 1px solid #3876a1;
  border-radius: 3px;
  background: #4c8ebc; /* Old browsers */
  background-image: -webkit-linear-gradient(top, #4c8ebc 0%, #4884ad 100%);
  background-image: -moz-linear-gradient(top, #4c8ebc 0%, #4884ad 100%);
  background-image: -o-linear-gradient(top, #4c8ebc 0%, #4884ad 100%);
  background-image: -ms-linear-gradient(top, #4c8ebc 0%, #4884ad 100%);
  background-image: linear-gradient(top, #4c8ebc 0%, #4884ad 100%); /* W3C */
  margin: 10px 0;
  padding: 9px 9px;

-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  font-size: 14px;
}

.cf:before,.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/*--------------------------------------
2. Header
--------------------------------------*/
#header {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 240px;
}

#header nav {
  float: left;
  margin-left: 60px;
  padding: 5px;
  background-color: rgba(255,255,255,.4);
}

#header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}

#header nav li {
  display: inline-block;
  border-right: 1px solid #5b5b5b;
  text-align: center;
  font-size: 16px;
  line-height: 10px;
}

#header nav li:last-child {
  border-right: none;
}

#header nav a {
  padding: 5px;
  color: #5b5b5b;
  text-align: center;
  text-transform: uppercase;
  font-size: 70%;
}

.logo {
  float: right;
  margin-right: 20px;
}

#header h1 {
  position: absolute;
  right: 54px;
  bottom: -8px;
  margin: 0;
  color: #f3f3f3;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 220%;
}

/*--------------------------------------
3. Content
--------------------------------------*/
#contentContainer {
  background-color: #f3f3f3;
  border-top: 5px solid #d5d5d5;
  border-right: 5px solid #d5d5d5;
  border-left: 5px solid #d5d5d5;
  border-radius: 10px 10px 0 0;
  min-height: 78%;
  overflow: hidden;
  margin: 0 auto;
  width: 800px;
}

/*--------------------------------------
4. Side Bar
--------------------------------------*/
#sideBar {
  float: left;
}

#sideBar {
  color: #5b5b5b;
  padding: 20px 40px 0 0;
  width: 240px;
}

#sideBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sideBar nav li {
  padding: 0 0 5px 0;
}

#sideBar nav li:hover a,#sideBar a.active {
  background-color: #d5d5d5;
  color: #2877ae;
}

#sideBar nav a {
  color: #d5d5d5;
  display: inline-block;
  font-size: 110%;
  padding: 5px 10px 5px 20px;
}

#sideBar .register {
  display: inline-block;
  padding-left: 26px;
  height: 20px;
  background: url('../images/symbol.png') no-repeat 0 0;
  line-height: 20px;
}

#sideBar .button:hover {
  background-image: none;
}

.figContainer {
  margin: 60px 0 0;
  background-color: #d5d5d5;
}

.figInnerContainer {
  position: relative;
  top: -15px;
  margin-left: 40px;
  width: 145px;
}

.figContainer img {
  border: 3px solid #949494;
}

#sideBar figcaption {
  margin: 10px 0;
  font-size: 75%;
}

/*--------------------------------------
5. Main Content
--------------------------------------*/
#mainContent {
  float: right;
}

#mainContent h2 {
  color: #d5d5d5;
  font-size: 510%;
  font-weight: 400;
  margin: 0 0 -19px;
  position: relative;
  z-index: 1;
}

.eventContainer {
  border-top: 1px solid #d5d5d5;
  background: #e7e7e7; /* Old browsers */
  background: -webkit-linear-gradient(top, #e7e7e7 0%, #f3f3f3 10%);
  background: -moz-linear-gradient(top, #e7e7e7 0%, #f3f3f3 10%);
  background: -o-linear-gradient(top, #e7e7e7 0%, #f3f3f3 10%);
  background: -ms-linear-gradient(top, #e7e7e7 0%, #f3f3f3 10%);
  background: linear-gradient(top, #e7e7e7 0%, #f3f3f3 10%); /* W3C */
  padding: 20px;
  position: relative;
  width: 550px;
  z-index: 2;
}

.eventContainer article {
  background-color: #d5d5d5;
  color: #949494;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 10px;
}

.eventContainer header {
  float: left;
  width: 39%;
}

.eventContainer img {
  float: right;
}

.eventContainer h3,.eventContainer h4 {
  margin: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(255,255,255,.5);
}

.eventContainer h3 span {
  display: block;
  color: #5b5b5b;
}

.eventContainer .link {
  background: url('../images/arrow-big.png') no-repeat 100% 6px;
  clear: both;
  display: block;
  float: left;
  margin-top: -18px;
  padding-right: 15px;
}

.eventContainer .link a {
  font-size: 80%;
}

.eventContainer a {
  color: #2877ae;
}

.pastEvents h4 {
  font-size: 100%;
}

.pastEvents .left {
  width: 38%;
  height: 82px;
  border-right: 1px solid #949494;
}

.pastEvents .right {
  border-left: 1px solid #fefefe;
  height: 82px;
  padding-left: 20px;
  width: 62%;
}

.pastEvents header {
  float: none;
  width: auto;
}

.months {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.months li a {
  background: url('../images/arrow-small.png') no-repeat 0 3px;
  color: #949494;
  font-size: 70%;
  padding-left: 10px;
  text-transform: uppercase;
}

#header a:hover, .months li a:hover, footer.link a:hover, #footer a:hover {
  text-decoration: underline;
}

.pastEvents .link {
  margin: auto;
}

/*--------------------------------------
6. Footer
--------------------------------------*/
#footer {
  background-color: #f3f3f3;
  border-left: 5px solid #d5d5d5;
  border-right: 5px solid #d5d5d5;
  margin: 0 auto;
  padding: 0 20px 10px;
  overflow: hidden;
  position: relative;
  width: 800px;
}

#footer .right {
  bottom: 14px;
  position: absolute;
  right: 20px;
}

#footer ul {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer li {
  border-right: 1px solid #5b5b5b;
  display: inline-block;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
}

#footer li:last-child {
  border-right: none;
}

#footer a {
  color: #5b5b5b;
  font-size: 60%;
  text-transform: uppercase;
  padding: 5px;
}
