/* dark gray       : #5b5b5b */
/* medium dark gray: #949494 */
/* medium gray     : #d5d5d5 */
/* light gray      : #e5e5e5 */
/* blue            : #2877ae */
/* white           : #f3f3f3 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  background-color: #5b5b5b;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

a { text-decoration: none; }

h3 {
  color: #949494; 
}

#container { 
  background: url('../images/background.png') no-repeat -25px -25px;
  width: 920px;
  margin: 0 auto;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button { 
  background: #4c8ebc; /* Old browsers */
  background-image: -moz-linear-gradient(top, #4c8ebc 0%, #4884ad 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c8ebc), color-stop(100%,#4884ad)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #4c8ebc 0%,#4884ad 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #4c8ebc 0%,#4884ad 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #4c8ebc 0%,#4884ad 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #4c8ebc 0%,#4884ad 100%); /* W3C */
  border: 1px solid #3876a1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  color: #fff;
  display: block;
  font-size: 14px;
  margin: 10px 0;
  padding: 9px 9px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

/* =HEADER
--------------------------------------*/

#header {
  width: 800px;
  height: 240px;
  position: relative;
  margin: 0 auto;
}

#header nav {
  background-color: rgba(255,255,255,.4);
  box-sizing: border-box;
  padding: 5px;
  margin-left: 60px;
  float: left;
}

#header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
}

#header nav li {
  display: inline-block;
  border-right: 1px solid #5b5b5b;
  text-align: center;
  font-size: 16px;
  line-height: 10px;
}

#header nav li:last-child{
  border-right: none;
}

#header nav a { 
  color: #5b5b5b; 
  font-size: 70%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.logo { 
  float: right;
  margin-right: 20px;
}

#header h1 {
  color: #f3f3f3;
  font-weight: 400;
  letter-spacing: 2px;  
  margin: 0;
  position: absolute;
  bottom: -8px;
  right: 54px;
  font-size: 220%;
}

/* =Content
--------------------------------------*/

#contentContainer {
  width: 800px;
  background-color: #f3f3f3;
  border-right: 5px solid #d5d5d5; 
  border-left: 5px solid #d5d5d5; 
  border-top: 5px solid #d5d5d5; 
  border-radius: 10px 10px 0 0;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


/* =Side Bar
--------------------------------------*/

#sideBar {
  float: left;
}
#sideBar {
  width: 240px;
  padding: 20px 40px 0 0;
  color: #5b5b5b;
}

#sideBar nav ul {
  list-style: none;
  margin:0;
  padding: 0;
}

#sideBar nav li {
  padding: 0 0 5px 0; 
}

#sideBar nav li:hover a {
  background-color: #d5d5d5;
  color: #2877ae;
}

#sideBar nav a {
  font-size: 110%;
  color: #d5d5d5;
  display: inline-block;
  padding: 5px 10px 5px 20px;
}

#sideBar .register {
  background: url('../images/symbol.png') no-repeat 0 0;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-left: 26px;
}

.figContainer {
  background-color: #d5d5d5;
  margin: 60px 0 0;
}

.figInnerContainer {
  margin-left: 40px;  
  position: relative;
  top: -15px;
  width: 145px;
}

.figContainer img {
  border: 3px solid #949494;
}

#sideBar figcaption { 
  font-size: 75%; 
  margin: 10px 0;
}

/* =Main Content
--------------------------------------*/

#mainContent {
  float: right;
}

#mainContent h2 {
  position: relative;
  font-size: 510%;
  font-weight: 400;
  color: #d5d5d5; 
  margin: 0 0 -19px;
  z-index:1;
}

.eventContainer {
  border-top: 1px solid #d5d5d5;;
  background: #e7e7e7; /* Old browsers */
  background: -moz-linear-gradient(top, #e7e7e7 0%, #f3f3f3 10%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(10%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e7e7e7 0%,#f3f3f3 10%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e7e7e7 0%,#f3f3f3 10%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e7e7e7 0%,#f3f3f3 10%); /* IE10+ */
  background: linear-gradient(to bottom, #e7e7e7 0%,#f3f3f3 10%); /* W3C */
  padding: 20px;
  position: relative;
  width: 550px; 
  z-index: 2;
}

.eventContainer article {
  background-color: #d5d5d5;
  color: #949494; 
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.eventContainer header{
  float: left;
  width: 39%;
}

.eventContainer img {
  float: right;
}

.eventContainer h3, .eventContainer h4 {
    margin: 0;
    text-shadow: 1px 1px 1px rgba(255,255,255,.5);
    text-transform: uppercase;
}

.eventContainer h3 span{
  display: block;
  color: #5b5b5b;
}

.eventContainer .link {
  background: url('../images/arrow-big.png') no-repeat 100% 5px;
  bottom: 8px;
  position: absolute;
  padding-right: 15px;
}

.eventContainer .link a{
  font-size: 80%;
}

.eventContainer a {
  color: #2877ae;
}

.pastEvents h4 {
  font-size: 100%
}

.pastEvents .left {
  border-right: 1px solid #949494;
  height: 82px;
  width: 38%;
}

.pastEvents .right {
  border-left: 1px solid #fefefe;
  height: 82px;
  width: 62%;
  padding-left: 20px;
}

.pastEvents header {
  float: none;
  width: auto;
}

.months {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.months li a {
  background: url('../images/arrow-small.png') no-repeat 0 3px;
  color: #949494;
  font-size: 70%;
  padding-left: 10px;
  text-transform: uppercase;
}

.months li a:hover { text-decoration: underline;}

/* =Footer
--------------------------------------*/
footer {
  width: 800px;
  margin: 0 auto;
  background-color: #f3f3f3;
  border-right: 5px solid #d5d5d5; 
  border-left: 5px solid #d5d5d5; 
  overflow: hidden;
  padding: 0 20px 10px;
  position: relative;
}

footer .right{
  position: absolute;
  bottom: 14px;
  right: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size:0;
}

footer li {
  display: inline-block;
  border-right: 1px solid #5b5b5b;
  text-align: center;
  font-size: 16px;
  line-height: 10px;
}

footer li:last-child{
  border-right: none;
}

footer a { 
  font-size: 60%;
  color: #5b5b5b; 
  padding: 5px;
  text-transform: uppercase;
}
