@media only screen and (max-width:480px){

html, body {
  width: 100%;
}

#container,
#header,
#contentContainer,
#sideBar,
#mainContent,
#footer {
  width: 98%;
}

#container {
  background-size: 100%;
  background-position: 0 0;
}

.logo {
  display: none;
}

#header nav {
  margin-left: auto;
  float: none;
}

#header nav a {
  font-size: 80%
}

#header h1 {
  bottom: -7px;
  font-size: 190%;
  right: 11%;
}


}
